.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    background-color: #eae9e9;

}
.main {
    flex: 1;
    padding: 40px 20px;
    max-width: 1100px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    
    h1 {
        font-size: 2.5rem;
        font-weight: 700;
        color: #000000;
        text-align: center;
        margin-bottom: 1rem;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    }

    h3 {
        font-size: 1.75rem;
        font-weight: 600;
        color: #000000;
        margin-top: 2rem;
        margin-bottom: 0.75rem;
    }

    h4 {
        font-size: 1.25rem;
        font-weight: 600;
        color: #000000;
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
    }

    p {
        font-size: 1rem;
        color: #000000;
        margin-bottom: 1rem;
    }

    hr {
        margin: 2rem 0;
        border: 0;
        height: 1px;
        background: #ddd;
    }


}

