.container {
    margin: 100px auto;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.link {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    a {
        color: #000;
    }
}
